services:
  postgres:
    image: postgres:17-alpine
    container_name: psgr
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASS}
      - POSTGRES_DB=${POSTGRES_DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgres/data
    networks:
      - bcnet
    healthcheck:
      test: ["CMD", "pg_isready", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  bookcamp:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: bookcamp_site
    links:
      - "postgres:psdb"
      - "redis:rcache"
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn -c gunicorn.py bookcamp.wsgi"
    volumes:
      - .:/app/site/bookcamp
    container_name: backend-bookcamp
    networks:
      - bcnet
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8000:8000"
    env_file:
      - .env

  nginx:
    image: nginx:latest
    container_name: nginx-server
    networks:
      - bcnet
    expose:
      - 8080
    ports:
      - "80:8080"
    volumes:
      - ./static:/app/site/bookcamp/static
      - ./media:/app/site/bookcamp/media
      - ./logs:/app/site/bookcamp/logs
      - ./conf/nginx:/etc/nginx/conf.d
    depends_on:
      - bookcamp

  redis:
    build:
      context: .
      dockerfile: Dockerfile-redis
    image: cont_redis
    container_name: redis-server
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USERNAME=${REDIS_USERNAME}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    ports:
      - "6069:6379"
    networks:
      - bcnet
    volumes:
      - ./redisdata:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped



networks:
  bcnet:
    driver: bridge

volumes:
  postgres_data: