.showcase{
    background: linear-gradient(21deg, #000 38%, #3f3636 80%);
    
}
img{
    width: 200px;
}
.content{
    display: flex;
}
.showcase{
    padding: 20px;
    width: 100%;
    border: 1px solid;
    
}
.row{
    margin: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: space-around;
    border-bottom: 5px solid brown;
}
.card a{
    text-decoration: none;
    color: white;
}
.filters{
    width: 400px;
}