@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');

.card-rank-catalog{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: 'Merienda', 'Times New Roman', Times, serif;
    font-size: larger;
    margin-block: 2px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 10%;
}
.display-card-not-authenticated{
    justify-content: right;
    padding-right: 1em;
}