.row{
    grid-template-columns: repeat(5, 3fr);
}
.inventory-search-container{
    display: flex;
    gap: 1em;
    margin: 0.5em;
    grid-column-start: 1;
    grid-column-end: 10;
}
.inventory-search-label{
    color: white;
    display: block;
}
.inventory-search{
    padding: 0.3em;
    background-color: rgb(147, 140, 140);
    border: 2px solid black;
    border-radius: 4px;
}
.inventory-search:hover{
    box-shadow: 0px 4px 12px 0px rgb(106, 100, 100) inset;
}
.card{
    display: block;
    text-align: center;

}
.card>div{
    text-align: start;
}