.row{
    grid-template-columns: repeat(5, 3fr);
}
.inventory-search-container{
    display: flex;
    gap: 1em;
    margin: 0.5em;
    grid-column-start: 1;
    grid-column-end: 10;
}
.inventory-search-label{
    color: white;
    display: block;
}
.inventory-search{
    padding: 0.3em;
    background-color: rgb(147, 140, 140);
    border: 2px solid black;
    border-radius: 4px;
}
.inventory-search:hover{
    box-shadow: 0px 4px 12px 0px rgb(106, 100, 100) inset;
}
@media (max-width: 1500px){
    .row{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1360px){
    .row{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1200px){
    .filter{
        display: none;
    }
    .catalog{
        grid-column-start: 2;
        grid-column-end: 12;
    }
}
@media (max-width: 1000px){
    .row{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px){
    .row{
        grid-template-columns: repeat(1, 1fr);
    }
    .catalog{
        grid-column-start: 1;
        grid-column-end: 12;
    }
    .nav-bar{
        font-size: 0.9em;
    }
}
@media (max-width: 720px){
    .nav-bar{
        font-size: 0.5em;
    }
}