.pagination{
    display: flex;
    justify-content: center;
    margin-block: 1.5em;
}
.links{
    display: flex;
    gap: 1em;
    justify-content: center;
}
.links li{
    list-style: none;
}
.pagination-button{
    border: 1px black solid;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.79);
    padding: 0.5em;
    color: black;
    text-decoration: none;
}
.button-select{
    cursor: default;
    box-shadow: 1px -2px 25px 0px #656161 inset;
}
.pagination-button:hover{
    box-shadow: 1px -2px 25px 0px #656161 inset;
}