.pagination{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.links{
    display: flex;
    gap: 1em;
    grid-column-start: 2;
}
.pagination-item{
    border-radius: 50px;
    padding: 0.5em;
    margin-block: 1em;
    background-color: rgba(255, 255, 255, 0.79);
}

.pagination-link{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}
.select-item{
    border: 2px solid rgb(204, 196, 196);
    box-shadow: 1px -2px 25px 0px #656161 inset;
}
.pagination-button:hover{
    cursor: pointer;
    box-shadow: 1px -2px 25px 0px #656161 inset;
}