@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');
.container-image{
    grid-column-start: 2;
    grid-column-end: 6;
    margin-top: 3em;
}
.container-data{
    grid-column-start: 6;
    grid-column-end: 12;
}

.product-title{
    font-size: 1.5em;
    margin-block: 0.5em;

}

.container-title{
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.product-image{
    border-radius: 5px;
    box-shadow: 15px 16px 10px 1px #d3cece81;
}

.product-review{
    margin-top: 2em;
    border-top: 1px solid white;
    margin-bottom: 1em;
}
.product-review form{
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
}
.product-review textarea{
    resize: none;
    height: 5em;
    border-radius: 2px;
}
.product-review button{
    border: 2px solid;
    background-color: rgb(206, 72, 72);
}
.review-container{
    background-color: grey;
    border-radius: 2px;
}
.review-title{
    background-color: black;
    border: 1px solid white;
    padding: 0.5em 1em 0.5em;
}
.review-content{
    padding: 0.7em;
}
.list-reviews{
    grid-row: 2;
    grid-column-start: 6;
    grid-column-end: 12;
}
.list-reviews summary{
    font-size: 1.3em;
    cursor: pointer;
}
.list-reviews details{
    margin-bottom: 2em;
}
.btn-show-more{
    text-align: center;
    font-size: 1.2em;
    border: 1px solid white;
    padding-block: 0.5em;
    border-radius: 10px;
    background-color: white;
}
.btn-show-more:hover{
    background-color: blue;
}
.change-status{
    display: flex;
    gap: 1em;
    padding-block: 1em;
}
.change-status p{
    margin-block: 0.5em;
}
.select-status{
    background-color: rgb(182, 179, 179);
    padding-inline: 1em;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}
.select-status:hover{
    border: 2px solid white;
}
.user-data{
    margin-block: 2em;
    border-block: 3px solid white;
    font-size: 1.2em;
    grid-column: 2/12;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.for-product{
    display: flex;
    align-items: center;
}
.for-product > div
{
    color: white;
}
.btn-user-data{
    padding: 0.5em 1em;
    border: 2px solid white;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.btn-user-data:hover{
    box-shadow: 3px 3px 1px 1px #a5a0a0;
    cursor: pointer;
}
.btn-user-data:active{
    box-shadow: 2px 2px 10px 0px #eae8e8 inset;
}
.btn-add{
    margin-top: 1em;
}
.btn-remove::before{
    content: '';
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url('../image/delete_24.svg');
}
.btn-add::before{
    content: '';
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url('../image/add_24.svg');
}
.card-rank-product{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 0.2em 0.5em;
    font-weight: 500;
    font-family: 'Merienda', 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
.product-status{
    padding: 0.3em;
    margin-bottom: 0px;
    background-color: inherit;
    border: 3px solid white;
    font-size: 1.2em;
    border-top: 1px solid black;
    border-right: 1px solid black;
}