.profile-container{
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img{
    width: 300px;
    border-radius: 50px;
    box-shadow: 10px 16px 10px 1px #967373;
}
.profile-content{
    padding: 2em;
}

.profile-content a{
    text-decoration: none;
    color: rgb(184, 58, 58);
}