
body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(47deg, #f8f7f7 1%, #121212 24%);
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* dropdown меню*/
.dropbtn {
    cursor: pointer;
    border: none;
    border-radius: 45px;
    padding: 0;
}

.margin-top{
    margin-top: 1em;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(221, 215, 215);
    border-radius: 5px;
    min-width: 5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    list-style: none;
    animation: fadeIn 0.5s;
}
.dropdown-content a{
    padding: 0.8em 1em;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgb(74, 73, 73);
    display: block;
    border-radius: 5px ;
}
.dropdown:hover .dropdown-content{
    display: block;
    opacity: 1;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Конец dropdown меню*/

.nav-bar a{
    text-decoration: none;
    color: black;
}

ul{
    padding: 0;
    margin: 0;
}

.nav-bar{
    display: flex;
    min-height: 3em;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5em;
}

.nav-bar-style{
    border: 1px double black;
    background-color: rgba(255, 255, 255, 0.79);
}

footer{
    background-color: rgba(252, 252, 252, 0.645);
    text-align: center;
}

.content{
    min-height: 89vh;
    display: grid;
    align-items: center;
    font-size: 0.9em;
}
section{
    display: grid;
    color: white;
    grid-template-columns: repeat(12, 1fr);
    padding-inline: 5em;
    align-items: start;
}
.nav-elements li{
    display: flex;
    align-items: center;
    gap: 1em;
}


.img-profile{
    border-radius: 50px;
    padding: 2px;
    padding-bottom: 0;
}

.img-content{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.text-content{
    grid-column-start: 5;
    grid-column-end: 13;
}

.nav-bar-style{
    box-shadow: 51px 5px 10px 1px #000000;
}

.nav-button{
    margin: 0;
    padding: 0;
    padding-block: 0.9em;
    padding-inline: 0.5em;
    text-align: center;
}

.nav-button:hover{
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(204, 196, 196);
    box-shadow: 1px -2px 25px 0px #656161 inset;
}

.nav-profile{
    background-color: white;
}

.container-contact{
    display: flex;
    gap: 1.5em;
}
.img-contact{
    background-color: white;
    border-radius: 50%;
    width: 3em;
}

.img-contact:active{
    background-color: rgb(162, 157, 157);
}


.nav-bar-logo{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
.catalog{
    grid-column-start: 1;
    grid-column-end: 10;
}

.filter{
    border: 1px solid white;
    grid-column-start: 10;
    grid-column-end: 16;

}
.filter-scroll{
    overflow-y: auto;
    max-height: 10em;
}

.filter-scroll::-webkit-scrollbar{
    width: 10px;
}
.filter-scroll::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
}
.filter-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #a74d45, #161c24);
}

.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2em;
    padding: 2em 0 0.5em;
}
span.select{
    text-decoration: underline wavy;
    color: rgb(184, 192, 108);
    font-style: italic;

}

.tag-list{
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
}

.tags-filter{
    padding: 0.3em;
    border: 2px solid grey;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    max-height: 10em;
    overflow-y: scroll;
}
.tag{
    border: 1px solid rgb(12, 8, 8);
    border-radius: 5px;
    background-color: rgb(216, 175, 175);
    color:black;
    
}
.tag-list{
    list-style: none;
}
.tag a{
    color:black;
    text-decoration: none;
}
input[type="checkbox"]{
    display: none;
}
input:checked + label{
    background-color: rgb(166, 66, 66);
}
.tag label{
    cursor: pointer;
}

.filter{
    background-color: rgb(165, 155, 155);
    margin-left: 2em;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 4px double black;
    min-width: 300px;
}

.container-search{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    border: 3px solid black;
}

.container-search input{
    font-size: 1em;
    padding-block: 0.5em;
    outline: none;
    border: none;
    min-width: 70%;
}

.filter-list{
    list-style: none;
    margin-left: 0.3em;
}

.filter-list input{
    display: inline;
}


.container-search button{
    margin-block: 0.1em;
    margin-right: 0.1em;
    font-size: 1em;
    border-radius: 5px;
}

.button{
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.59);
    margin: 0.3em 0.3em;
    font-size: 1em;
}
.inscription{
    background: black;
    color: white;
    padding: 0.3em;
    border-radius: 5px;
    cursor: pointer;
}

.filter-container input{
    max-width: 4em;
    margin-block: 0.5em;
}
::placeholder{
    color: grey;
}

.invisible{
    display: none;
}

.button:hover{
    background-color: rgb(199, 58, 58);
}

@media (min-width: 2000px){
    body{
        font-size: 2em;
    }
}
@media (max-width: 1500px){
    .row{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1200px){
    .filter{
        display: none;
    }
    .catalog{
        grid-column-start: 2;
        grid-column-end: 12;
    }
}
@media (max-width: 1000px){
    .row{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px){
    .row{
        grid-template-columns: repeat(1, 1fr);
    }
    .catalog{
        grid-column-start: 1;
        grid-column-end: 12;
    }
    .nav-bar{
        font-size: 0.9em;
    }
}
@media (max-width: 720px){
    .nav-bar{
        font-size: 0.8em;
    }
}