{% extends 'base.html'%}
{% load static %}
{% load goods_custom_tags %}

{% block extends_style %}
    <link rel="stylesheet" href="{% static 'bookcamp/css/pagination.css' %}">
{% endblock %}
{% load goods_custom_tags %}
{% block section %}
  <section class="content-catalog">
        <div class="catalog">
            <div class="row">
                {% for product in products %}
                <div class="card">
                    <a href="{% url 'goods:product' product.slug %}">
                        <img height="200" src="{{ product.image.url }}" class="img-card" alt="{{ product.name }}"></a>
                    <div>
                        <a class="card-title" href="{% url 'goods:product' product.slug %}">{{ product.name|truncatewords:3 }}</a>
                        <div class="card-status">
                            Прочитанно
                        </div>
                        <a class="card-author" href="#">Автор: {{ product.author }}</a>
                        <p>Дата выхода: {{ product.year_of_publication }}</p>
                        <p>{{ product.description|truncatewords:10 }}</p>
                        <p>
                            Тэги:
                        </p>
                        <ul class="tag-list">
                            {% for tag in product.get_tags %}
                            <li class="tag"><a href="?{% append_params tags=tag.slug %}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages %}
            <div class="pagination">
                <div class="links">
                    {% if page_obj.has_previous %}
                        <div class="pagination-item pagination-button">
                            <a class="pagination-link" href="?{% append_params page=page_obj.previous_page_number %}">&lt;</a>
                        </div>
                    {% endif %}
                    {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                    <div class="pagination-item select-item">
                        <a class="pagination-link">{{p}}</a>
                    </div>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <div class="pagination-item pagination-button">
                        <a class="pagination-link" href="?{% append_params page=p %}">{{p}}</a>
                    </div>
                    {% endif%}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <div class="pagination-item pagination-button">
                        <a class="pagination-link" href="?{% append_params page=page_obj.next_page_number %}">&gt;</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="filter">
            <form onsubmit="submitForm(event)" type="get" action="{% url 'goods:catalog' 'all' %}">
                <div class="container-search">
                    <input placeholder="..." name="q" type="text">
                    <button class="button" type="submit">Поиск</button>
                </div>
                <div>
                    <details>
                        <summary class="inscription">
                            Теги:
                        </summary>
                        <div class="tags-filter">
                            {% get_all_tags as all_tags%}
                            {% for tag in all_tags%}
                            <div class="tag">
                                <input type="checkbox" {% if tag.slug in selected_tags %}checked{% endif %}
                                       value="{{ tag.slug }}" name="tags" id="id_{{ tag.slug }}">
                                <label for="id_{{ tag.slug }}">{{ tag.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </details>
                    <details open="true" class="filter-container">
                        <summary class="inscription">
                            Год издания:
                        </summary>
                        <label for="id_year_publication1">
                            от
                        </label>
                        <input id="id_year_publication1" name="year_from"
                               value="{% if year_from %}{{ year_from }}{% else %}2020{% endif %}" type="number">
                        <label for="id_year_publication2">
                            до
                        </label>
                        <input id="id_year_publication2" name="year_to"
                               value="{% if year_to %}{{ year_to }}{% else %}2025{% endif %}" type="number">
                    </details>
                    <details open="true" class="filter-container">
                        <summary class="inscription">
                            Сортировка:
                        </summary>
                        <div>
                            <input type="radio"  {% if ordering == 'author'%}checked{% endif %}
                                   value="author" name="ordering" id="id_ord_author">
                            <label for="id_ord_author">По автору</label>
                        </div>
                        <div>
                            <input type="radio" {% if ordering == 'year_of_publication'%}checked{% endif %}
                                   value="year_of_publication" name="ordering"  id="id_ord_date">
                            <label for="id_ord_date">По дате выхода</label>
                        </div>
                        <div>
                            <input type="radio" {% if ordering == 'name'%}checked{% endif %}
                                   value="name" name="ordering" id="id_ord_name">
                            <label for="id_ord_name">По названию книги</label>
                        </div>
                    </details>
                    <button class="button" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock %}