<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Каталог</title>
</head>

<body>
    <header></header>
    <section>
        <div class="content">
            <div class="showcase">
                <div class="row">
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="static/book.jpg" alt="image">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, similique.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="filters">
                <a href="#"></a>
                <div>
                    <ul>
                        <li><input type="text"></li>
                        <li><input type="radio"></li>
                        <li><input type="checkbox"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
</body>

</html>