{% extends 'base.html' %}
{% load goods_custom_tags %}
{% load static %}
{% block extends_style %}
    <link rel="stylesheet" href="{% static 'bookcamp/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'bookcamp/css/product.css' %}">
{% endblock %}
{% block section %}
<section class="content">
    <div class="container-image">
        {% if product.image %}
        <img height="500" width="350" title="{{ product.name }}" class="product-image"
             src="{{ product.image.url }}" alt="Image {{ product.name }}">
        {% else %}
        <img height="500" title="{{ product.name }}" class="product-image"
             src="{% static 'bookcamp/image/empty.jpg' %}" alt="Image {{ product.name }}">
        {% endif %}
    </div>
    <div class="container-data">
        <div>
            <div class="container-title">
                <span class="product-title" id="{{product.slug}}_{{product.pk}}">
                    {{ product.name }}
                </span>
                {% if user.is_authenticated%}
                    {% get_user_data product.pk user.pk as user_inventory_data %}
                    {% if user_inventory_data is not None%}
                    <div class="card-status product-status">
                        {% if user_inventory_data.status == 3 %} Начато {% endif %}
                        {% if user_inventory_data.status == 2 %} Отложенно {% endif %}
                        {% if user_inventory_data.status == 1 %} Добавленно {% endif %}
                        {% if user_inventory_data.status == 0 %} Прочитанно {% endif %}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <a class="card-author" href="{% url 'goods:catalog' 'all' %}?authors={{product.author.slug}}">Автор: {{product.author}}</a>
            <p>Дата выхода: {{product.year_of_publication}}</p>
            <p>{{ product.description}}</p>
            <p>Количество страниц: {{product.quantity_page}}</p>
            <div class="card-rank-product">
                {% get_avg_rank product.pk as avg_rank %}
                Рейтинг: {{ avg_rank }}
            </div>
            <p>
                Тэги:
            </p>
            <ul class="tag-list">
                {% for tag in product.tags.all %}
                <li class="tag"><a href="{% url 'goods:catalog' 'all' %}?{% append_params tags=tag.slug %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            {% if user.is_authenticated and user_inventory_data is None %}
                <button class="btn-user-data btn-add" title="Добавить в инвентарь"
                        id="id_{{product.slug}}_{{product.pk}}">Добавить</button>
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated and user_inventory_data is not None%}
        {% with product_status=user_inventory_data.status user_rank=user_inventory_data.rank product_slug=product.slug %}
        {% include 'includes/user_data_product.html'%}
        {% endwith %}
    {% endif %}
    <div class="list-reviews">
        {% if user.is_authenticated and user_inventory_data is not None%}
            {% with product_slug=product.slug %}
            {% include 'includes/user_review.html' %}
            {% endwith %}
        {% endif %}
        {% get_all_reviews product.pk limit=2 as reviews %}
        <details open>
            <summary>Отзывы: </summary>
            {% if reviews %}
                {% for review in reviews %}
                    <div class="review-container">
                        <p class="review-title
                        {% if review.rank >= 3 %}
                        good-review
                        {% elif review.rank > 0 %}
                         bad-review
                        {% endif %}">
                            {{review.user__username}}
                        </p>
                        <p class="review-content">
                            {{ review.review }}
                        </p>
                        <div class="card-rank-product rank-review">Рейтинг: {{review.rank}}</div>
                    </div>
                {% endfor %}
                {% reviews_greater_than product.pk 2 as is_greater %}

                {% if is_greater %}
                    <div class="bottom-list-reviews">
                        <div class="btn-show-more">
                            <a id="link-show-more" data-reviews-url="{% url 'inventory:widget_reviews' product.slug %}?page=2">
                                Показать ещё
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
            <div class="empty-list">
                <p>
                    Пока отзывов нет
                </p>
            </div>
            {% endif %}
        </details>
    </div>
</section>
{% endblock %}
{% block footer %}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock%}
{% block scripts %}
    <script type="text/javascript" src="{% static 'bookcamp/js/generic.js'%}"></script>
    <script type="text/javascript" src="{% static 'bookcamp/js/external-scripts-inventory.js'%}"></script>
    <script type="text/javascript" src="{% static 'bookcamp/js/script-product-btns.js'%}"></script>
{% endblock %}