{% extends 'base.html' %}
{% load goods_custom_tags %}
{% load static %}
{% block extends_style %}
    <link rel="stylesheet" href="{% static 'bookcamp/css/product.css' %}">
{% endblock %}
{% block section %}
<section class="content">
    <div class="container-image">
        <img height="500" title="{{ product.name }}" class="product-image"
             src="{{ product.image.url }}" alt="Image {{ product.name }}">
    </div>
    <div class="container-data">
        <div>
            <div class="container-title">
                <span class="product-title">
                    {{ product.name }}
                </span>
                <div class="card-status product-status">
                    Прочитанно
                </div>
            </div>
            <a class="card-author" href="#">Автор: {{product.author}}</a>
            <p>Дата выхода: {{product.year_of_publication}}</p>
            <p>{{ product.description}}</p>
            <p>
                Тэги:
            </p>
            <ul class="tag-list">
                {% for tag in product.get_tags %}
                <li class="tag"><a href="{% url 'goods:catalog' 'all' %}?{% append_params tags=tag.slug %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock%}