{% extends 'base.html' %}
{% load goods_custom_tags %}
{% load static %}
{% block extends_style %}
    <link rel="stylesheet" href="{% static 'bookcamp/css/product.css' %}">
{% endblock %}
{% block section %}
<section class="content">
    <div class="container-image">
        {% if product.image %}
        <img height="500" width="350" title="{{ product.name }}" class="product-image"
             src="{{ product.image.url }}" alt="Image {{ product.name }}">
        {% else %}
        <img height="500" title="{{ product.name }}" class="product-image"
             src="{% static 'bookcamp/image/empty.jpg' %}" alt="Image {{ product.name }}">
        {% endif %}
    </div>
    <div class="container-data">
        <div>
            <div class="container-title">
                <span class="product-title">
                    {{ product.name }}
                </span>
                    {% get_product_status product.pk user.pk as product_status %}
                    {% if user.is_authenticated and product_status is not None %}
                    <div class="card-status product-status">
                        {% if product_status == 3 %}
                            Начато
                        {% elif product_status == 2 %}
                            Отложенно
                        {% elif product_status == 1 %}
                            Добавленно
                        {% elif product_status == 0 %}
                            Прочитанно
                        {% endif %}
                    </div>
                    {% endif %}
            </div>
            <a class="card-author" href="{% url 'goods:catalog' 'all' %}?authors={{product.author.slug}}">Автор: {{product.author}}</a>
            <p>Дата выхода: {{product.year_of_publication}}</p>
            <p>{{ product.description}}</p>
            <p>Количество страниц: {{product.quantity_page}}</p>
            <p>
                Тэги:
            </p>
            <ul class="tag-list">
                {% for tag in product.get_tags %}
                <li class="tag"><a href="{% url 'goods:catalog' 'all' %}?{% append_params tags=tag.slug %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock%}