{% extends 'base.html'%}
{% load static %}
{% load inventory_tags %}
{% load goods_custom_tags %}

{% block extends_style %}
<link rel="stylesheet" href="{% static 'bookcamp/css/inventory.css'%}">
<link rel="stylesheet" href="{% static 'bookcamp/css/pagination.css'%}">
{% endblock %}

{% block section %}
<section>
        <div class="inventory-search-container">
            <div>
                <select class="inventory-search" name="ordering" id="id_ordering">
                    <option value="">-- Сортировка --</option>
                    <option {% if selected_ordering == 'name' %} selected {% endif %} value="name">По названию</option>
                    <option {% if selected_status %}disabled
                            {% elif selected_ordering == 'status'%}
                            selected
                            {% endif %}
                    value="status">По статусу</option>
                    <option {% if selected_ordering == 'author'%} selected {% endif %}value="author">По автору</option>
                </select>
            </div>
            <div>
                <select class="inventory-search" name="status" id="id_status">
                    <option value="">-- Выберите статус --</option>
                    <option {% if selected_status == '3'%}selected{% endif %} value="3">Начато</option>
                    <option {% if selected_status == '2'%}selected{% endif %} value="2">Отложенно</option>
                    <option {% if selected_status == '1'%}selected{% endif %} value="1">Добавленно</option>
                    <option {% if selected_status == '0'%}selected{% endif %} value="0">Прочитанно</option>
                </select>
            </div>
            <div>
                {% get_available_categories as categories %}
                <select class="inventory-search" name="category" id="id_category">
                    <option value="">-- Выберите категорию --</option>
                    {% for cat in categories %}
                    <option {% if selected_category == cat.slug%}selected{% endif %} value="{{ cat.slug }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="catalog">
            <div class="row">
                {% for item in inventory %}
                <div class="card" id="{{id_item.product.slug}}">
                    <div>
                        <div class="card-img">
                            <a href="{% url 'goods:product' item.product.slug %}">
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name}}">
                                {% else %}
                                    <img src="{% static 'bookcamp/image/empty.jpg' %}" alt="{{ item.product.name}}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-main">
                            <div>
                                <a class="card-title" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name|truncatewords:5 }}</a>
                                <div class="card-status">
                                    <select class="current_status" name="product_status" id="{{item.product.slug}}-status" >
                                        <option value="3" {% if item.status == 3 %} selected {% endif %}>Начато</option>
                                        <option value="2" {% if item.status == 2 %} selected {% endif %}>Отложенно</option>
                                        <option value="1" {% if item.status == 1 %} selected {% endif %}>Добавленно</option>
                                        <option value="0" {% if item.status == 0 %} selected {% endif %}>Прочитанно</option>
                                    </select>
                                </div>
                                <a class="card-author"
                                   href="?{% append_params authors=item.product.author.slug %}">
                                    Автор: {{ item.product.author }}
                                </a>
                                <p>Дата выхода: {{ item.product.year_of_publication}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div class="card-rank">
                            5.0
                        </div>
                            <button class="card-btn remove" id="id_{{item.product.slug}}-{{item.product.pk}}"></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            {% include 'includes/pagination.html'%}
        <div class="filter">
            <form id="filter-form" type="get" action="{% url 'inventory:collection' %}" >
                <div class="container-search">
                    <input placeholder="..." name="q" type="text">
                    <button class="button" type="submit">Поиск</button>
                </div>
                <div>
                    <details>
                        <summary class="inscription">
                            Теги:
                        </summary>
                        {% get_available_tags as tags %}
                        <div class="tags-filter filter-scroll">
                        {% for tag in tags%}
                            <div class="tag">
                                <input type="checkbox" {% if tag.slug in selected_tags %}checked{% endif %}
                                       value="{{ tag.slug }}" name="tags" id="id_{{tag.slug}}">
                                <label for="id_{{tag.slug}}">{{tag.name}}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </details>
                    <details class="filter-container">
                        <summary class="inscription">
                            Год издания:
                        </summary>
                        <label for="id_year_publication1">
                            от
                        </label>
                        <input id="id_year_publication1" name="year_from"
                               value="{% if year_from %}{{year_from}}{% else %}2020{% endif %}" type="number">
                        <label for="id_year_publication2">
                            до
                        </label>
                        <input id="id_year_publication2" name="year_to"
                               value="{% if year_to %}{{year_to}}{% else %}2025{% endif %}" type="number">
                    </details>
                    <!---->
                    <details open class="filter-container">
                        <summary class="inscription">
                            Авторы:
                        </summary>
                        <ul class="filter-scroll">
                            {% get_available_authors as authors%}
                            {% for author in authors%}
                            <li class="filter-list">
                                <input value="{{author.slug}}" type="checkbox"
                                       {% if author.slug in selected_authors %}checked{% endif %}
                                       name="authors" id="id_{{author.slug}}">
                                <label for="id_{{author.slug}}">{{author.name}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                    <button class="button" type="submit">Применить</button>
                    <button class="button" type="reset">Сбросить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'bookcamp/js/generic.js' %}"></script>
    <script type="text/javascript" src="{% static 'bookcamp/js/select-status.js' %}"></script>
    <script type="text/javascript" src="{% static 'bookcamp/js/script-inventory.js'%}"></script>
{% endblock %}