{% extends 'base.html' %}
{% block extends_style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'bookcamp/css/form-style.css'%}">
{% endblock %}

{% block section %}
    <section class="content">
        <form class='form-content' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Редактирование профиля</h1>
            <div class="inputs">
                <div class="input-field image-field">
                    <label for="id_image">Изменить изображение профиля:</label>
                    <input id="id_image" name="image" type="file">
                </div>
                <div class="input-field">
                    <label for="id_username">Логин:</label>
                    <input id="id_username" name="username" type="text" value="{{ user.username}}">
                </div>
                <div class="input-field">
                    <label for="id_email">E-mail:</label>
                    <input id="id_email" placeholder="example@gmail.com" name="email" type="email" value="{{ user.email }}">
                </div>
                <div class="input-field">
                    <label for="id_first_name">Имя:</label>
                    <input id="id_first_name" value="{{user.first_name}}" name="first_name" type="text">
                </div>
                <div class="input-field">
                    <label for="id_last_name">Фамилия:</label>
                    <input id="id_last_name" value="{{ user.last_name }}" name="last_name" type="text">
                </div>
            </div>
            <button type="submit">Сохранить изменения</button>
            <button type="reset">Сбросить изменения</button>
        </form>
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock %}