{% extends 'base.html' %}
{% load static %}
{% block extends_style %}
<link rel="stylesheet" href="{% static 'bookcamp/css/form-style.css'%}">
{% endblock %}

{% block section %}
<section class="content">
        <form class="form-content" method="post">
            {% csrf_token %}
            <h1>Вход</h1>
            <div>
                <div class="input-field">
                    <label for="id_username">Логин</label>
                    <input id="id_username" name="username">
                </div>
                <div class="input-field">
                    <label for="id_password">Пароль</label>
                    <input id="id_password" type="password" name="password">
                </div>
            </div>
            <button type="submit">Войти</button>
            <input type="hidden" name="next" value="{{next}}" />
            <div class="help-login">
                <a href="{% url 'user:register' %}">Регистрация</a> |
                <a href="#">Забыли пароль?</a>
            </div>
        </form>
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock %}