<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="post" action="{% url 'user:login'%}">
            {% csrf_token %}
            <div>{{ form.non_field_errors }}</div>
            <div>
                <label for="id_username">Логин</label>
                <input id="id_username" name="username">
            </div>
            {% if user.username.errors %}
            <div>
                {{ user.username.errors}}
            </div>
            {% endif %}
            <div>
                <label for="id_password">Пароль</label>
                <input id="id_password" type="password" name="password">
            </div>
            {% if user.password.errors %}
            <div>
                {{ user.password.errors}}
            </div>
            {% endif %}
            <button type="submit">Войти</button>
        </form>
        <div>
            <a href="{% url 'user:register' %}">Регистрация</a>
            <a href="#">Забыли пароль?</a>
        </div>
    </div>
</body>
</html>