{% extends 'base.html' %}
{% load static %}

{% block extends_style %}
<link rel="stylesheet" href="{% static 'bookcamp/css/form-style.css'%}">
{% endblock %}

{% block section %}

<section class="content">
        <form class="form-content" method="post">
            {% csrf_token %}
            <h1>Восстановление пароля</h1>
            <div class="inputs">
                {% for f in form %}
                <div class="input-field">
                    <label for="{{f.id_for_label}}">{{f.label}}:</label>
                    {{f}}
                    <div>{{ f.errors }}</div>
                </div>
                {% endfor %}
            </div>
            <button type="submit">Отправить ссылку</button>
        </form>
</section>
{% endblock %}
{% block footer %}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock %}
