{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bookcamp/css/style.css' %}">
    {% block extends_style %}
    {% endblock %}
    <title>{{title}}</title>
</head>

<body>
    <header>
        <div class="nav-bar nav-bar-style">
            <div>
                <a href="{% url 'main:index' %}">
                    <img class="nav-bar-logo" src="{% static 'bookcamp/image/logo.png'%}" alt="Logo">
                </a>
            </div>
            <div class="nav-elements">
                <li>
                    <ul>
                        <a class="nav-button" href="{% url 'main:index' %}">Home</a>
                    </ul>
                    <ul>
                        <a class="nav-button" href="{% url 'goods:catalog' 'all' %}">Catalog</a>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul>
                        <a class="nav-button" href="{% url 'inventory:inventory'%}">Inventory</a>
                    </ul>
                    <ul>
                        <a class="nav-button" href="{% url 'users:logout' %}">Log out</a>
                    </ul>
                    {% else %}
                    <ul>
                        <a class="nav-button" href="{% url 'users:login' %}">Login</a>
                    </ul>
                    {% endif %}
                    <ul>
                        <a class="nav-button" href="{% url 'main:about'%}">About us</a>
                    </ul>
                </li>
            </div>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile'%}"><img class="img-profile" src="{{ user.image.url }}" width="45" alt=""></a>
                {% else %}
                    <a class='nav-button  nav-profile' href="{% url 'users:login' %}">Sign in</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block section %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>

</html>