{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <img class="logo-nav-bar" src="{% static 'main/image/bird-svgrepo-com.svg'%}" alt="Logo">
        <div>
            <div class="nav-bar-list">
                <li class="nav-elements">
                    <ul >
                        <a href="#">Home</a>
                    </ul>
                    <ul>
                        <a href="{% url 'goods:catalog' %}">Catalog</a>
                    </ul>
                    <ul>
                        <a href="#">Sign in</a>
                    </ul>
                    <ul>
                        <a href="#">Profile</a>
                    </ul>
                    <ul>
                        <a href="{% url 'main:about' %}">About us</a>
                    </ul>
                </li>
            </div>
            <!--
                <div>
                    <a href="#">Inventory</a>
                    <a href="#">Statistic</a>
                    <a href="#">Sign out</a>
                </div>
            -->

        </div>
        </div>
    </header>
    <body>
    {% block content %}
    {% endblock content %}
    </body>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>