{% extends 'base.html' %}
{% load static %}
{% block section %}
    <section class="content">
        <div class="img-content">
            <img src="..." alt="...">
        </div>
        <div class="text-content">
            <h1>BookCamp</h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia hic eos sunt optio excepturi consequatur animi nostrum illo? Placeat iusto id, obcaecati maxime corporis quas?</h6>
            <div class="container-contact">
                <div>
                    <a href="#"><img class='img-contact' src="{% static 'bookcamp/image/icon-telegram.svg'%}" alt="Telegram"></a>
                </div>
                <div>
                    <a href="#"><img class='img-contact' src="{% static 'bookcamp/image/icon-youtube.svg'%}" alt="YouTube"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer%}
    <footer>
        <p>&copy;Bookcamp </p>
    </footer>
{% endblock %}